<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Appet</title>
    </head>
    <body>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/owners">OWNERS</a></li>
            <li><a href="/pets">PETS</a></li>
        </ul>
        <h1>Welcome to Appet</h1>
        <p>Your app to keet track of your pets</p>
    </body>
</html>
